.selector-for-some-widget {
  box-sizing: content-box;
}
* {
    box-sizing: border-box;
}
.navbar
{
	background-color: #0aa9ff;
    opacity: 0.7;
}
body
{
    background: url("../images/gears3.svg") no-repeat center fixed; 
    background-size: cover;
}
.bandw
{
	-webkit-filter: grayscale(100%);filter: grayscale(100%);
}
.bandw:hover
{
	-webkit-filter: grayscale(0%);filter: grayscale(0%);
}
a{
    cursor: pointer;
}
button{
    cursor: pointer;
}
.modal-header{
    background-color:#0aa9ff;
    color:white;
    border-top-left-radius: .3em; 
    border-top-right-radius: .3em;
}