.selector-for-some-widget {
  box-sizing: content-box;
}
* {
    box-sizing: border-box;
}
.navbar
{
	background-color: #0aa9ff;
    opacity: 0.7;
}
.navbar-dark .navbar-nav .nav-link {
    color: #ffffff;
}
.card{
  box-shadow: 5px 5px 25px grey;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  font-family: 'Permanent Marker';
  font-size: 40px;
  background-color: black;
  opacity: 0.8;
  color: white;
  padding:5px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
a{
    cursor: pointer;
}
button{
    cursor: pointer;
}
.modal-header{
    background-color:#0aa9ff;
    color:white;
    border-top-left-radius: .3em; 
    border-top-right-radius: .3em;
}
.btstyle
{
    color: white;
    background-color: #3e4042;
    opacity: 0.8;
    font-size: 200%;
}
.btstyle:hover{
    opacity: 0.99;
    box-shadow: 10 10 10 10;
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
    box-shadow: 5px 5px 25px darkgrey;
}
.btstyle2
{
    color: white;
    background-color: darkgrey;
    opacity: 0.8;
}
.btstyle2:hover{
    opacity: 0.99;
    box-shadow: 10 10 10 10;
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
    box-shadow: 5px 5px 25px darkgrey;
}